<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="searchForm" role="form">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Locations</label><span class="imp">*</span>
                                    <ng-multiselect-dropdown [placeholder]="'Select Locations'"
                                        [data]="getLocationsList" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="selectedLocations" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                        (onDeSelect)="ondeSelect($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Category</label>
                                    <ng-multiselect-dropdown [placeholder]="'Select Category'"
                                        [data]="getCategoryList" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="selectedCategories" [settings]="dropdownSettings2"
                                        (onSelect)="onItemSelectCat($event)" (onSelectAll)="onSelectAllCat($event)"
                                        (onDeSelect)="ondeSelectCat($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date From</label><span class="imp">*</span>
                                    <input type="date" class="form-control" formControlName="mFromDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date To</label><span class="imp">*</span>
                                    <input type="date" class="form-control" formControlName="mToDate">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-right">
                    <button [disabled]="!searchForm.valid" class="btn btn-success mr-2" (click)="searchSales()"><i class="fa fa-spinner"></i>
                        Load Data</button>

                    <button class="btn btn-dark" (click)="resetForm()"><i class="fa fa-refresh"></i>
                        Clear Data</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4" *ngIf="hideShowDiv">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <canvas [height]="100" baseChart [datasets]="barChartDataNaturewise"
                        [labels]="barChartLabelsNaturewise" [options]="barChartOptions" [plugins]="barChartPlugins"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4" *ngIf="hideShowDiv">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-hover table-striped table-bordered" width="100%">
                            <thead>
                                <tr class="d-bg">
                                    <th class="text-center">Sr.</th>
                                    <th>Category</th>
                                    <th class="text-right">Sale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of foodwiseResponseModel let ndx=index;">
                                    <td class="text-center">{{ndx+1}}</td>
                                    <td class="styl-new" data-toggle="modal" data-target="#itemDetails" (click)="getItemDetail(p.mcode)" title="View Item Detail">{{p.Mname }}</td>
                                    <td class="text-right">{{p.SAmt | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
                        class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr class="d-bg">
                                <th>Sr.</th>
                                <th>Item Code</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th class="text-right">Avg. Rate</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of itemDetailResponse let ndx=index;">
                                <td>{{ndx+1}}</td>
                                <td>{{p.itemcode}}</td>
                                <td class="styl-new" data-toggle="modal" data-target="#salesDetails" (click)="getSalesDetail(p.itemcode)" title="View Sales Detail">{{p.SName}}</td>
                                <td>{{p.qty}}</td>
                                <td class="text-right">{{p.sellprice | number}}</td>
                                <td class="text-right">{{p.Amount | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="salesDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sales Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2"
                        class="table table-hover table-striped dt-responsive table-bordered" width="100%">
                        <thead>
                            <tr class="d-bg">
                                <th class="text-center">Sr.</th>
                                <th class="text-center">Invoice Number</th>
                                <th class="text-center">No. of Persons</th>
                                <th class="text-right">Value</th>
                                <th class="text-right">Discount Amount</th>
                                <th class="text-right">Sale Tax</th>
                                <th class="text-right">Total Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of salesListDateWise let i=index;">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center styl-new">{{p.invoiceno }}</td>
                                <td class="text-center">{{p.Persons}}</td>
                                <td class="text-right">{{p.Value | number}}</td>
                                <td class="text-right">{{p.DisAmount | number}}</td>
                                <td class="text-right">{{p.StAmt | number}}</td>
                                <td class="text-right">{{p.TotSale | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>