<div class="card">
    <form [formGroup]="searchForm" role="form">
        <div class="p-2 bg-light">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="">Location</label>
                        <select class="form-control" formControlName="locationID"
                            (change)="onClickLocation($event.target.value)">
                            <option [selected]="true" value="0">All</option>
                            <option *ngFor="let p of getLocationsList" [value]="p.locationID">{{p.locationName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Pay Mode</label>
                        <select class="form-control" (change)="onClickPayMode($event)" formControlName="PaymentMode">
                            <option [selected]="true" value="All">All</option>
                            <option *ngFor="let p of listPayMode" [value]="p.Name">{{p.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="">Select Days</label>
                        <select id="defaultOptions" class="form-control"
                            (change)="setDefaultDateRange($event.target.value)">
                            <option [selected]="true" value="today">Today</option>
                            <option value="last7Days">Last 7 Days</option>
                            <option value="SpecificDays">Specific Days</option>
                            <option value="last30Days">Last 30 Days</option>
                            <option value="thisMonth">This Month</option>
                            <option value="lastMonth">Last Month</option>
                            <option value="custom">Select Custom Dates</option>
                        </select>
                    </div>
                </div>
                <div class="col" *ngIf="hideShowSpecific">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Specific Date</label>
                                <input type="date" class="form-control" formControlName="Date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="">Days</label>
                                <input type="number" min="0" class="form-control" formControlName="Days">
                            </div>
                        </div>
                        <div class="col pl-0 pr-0 mt-4">
                            <i class="fa fa-search mt-2 fa_edit" (click)="getSpecificDays()" title="Load Data"></i>
                        </div>
                    </div>
                </div>
                <div class="col" *ngIf="hideShow">
                    <div class="row">
                        <div class="col pl-0 pr-2">
                            <div class="form-group">
                                <label>Date From</label>
                                <input type="date" class="form-control" formControlName="mFromDate">
                            </div>
                        </div>
                        <div class="col pl-0 pr-2">
                            <div class="form-group">
                                <label>Date To</label>
                                <input type="date" class="form-control" formControlName="mToDate">
                            </div>
                        </div>
                        <div class="col pl-0 pr-0 mt-4">
                            <i class="fa fa-search mt-2 fa_edit" title="Load Data"
                                (click)="setDefaultDateRange('custom')"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-8 text-right">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-dark active" (click)="onClickLocation(0)" style="width: 100px;">
                            <input type="radio" name="options" id="option4" autocomplete="off" checked> All
                        </label>
                        <label *ngFor="let p of getLocationsList"
                            (click)="onClickLocation(p.locationID, p.locationName)" class="btn btn-dark"
                            style="width: 100px;">
                            <input type="radio" name="options" id="option5" autocomplete="off"> {{p.locationName}}
                        </label>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
    <div class="clearfix p-4">
        <ul class="nav nav-tabs custom top round" style="background-color: #ededed;border:1px solid #ededed;border-radius: 20px;">
            <li class="nav-item" (click)="onClickTabs(1)">
                <a class="nav-link active cursor-pointer" id="incClick" data-toggle="tab" href="#daily">Sales</a>
            </li>
            <li class="nav-item" (click)="onClickTabs(2)">
                <a class="nav-link cursor-pointer" data-toggle="tab" href="#tws">Timeslot Wise Sales</a>
            </li>
            <li class="nav-item" (click)="onClickTabs(3)">
                <a class="nav-link cursor-pointer" data-toggle="tab" href="#nop">Timeslot Wise Sales (NOP)</a>
            </li>
        </ul>
    </div>
    <div class="tab-content top" style="border:1px solid #ededed">
        <div class="tab-pane active" id="daily">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">Daily Sales <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pr-5">
                                <div class="w-100 h-300p">
                                    <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="listDailyDetails"
                                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="true" [yAxisLabel]="true" [showDataLabel]="showDataLabel"
                                        (select)="onSelect($event)">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 mb-4">
                        <div widget class="card box-shadow mb-4 pb-4">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">Payment Mode <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pb-4 mb-4">
                                <div class="w-100 h-300p pb-4 mb-4">
                                    <ngx-charts-pie-chart
                                    [scheme]="'picnic'"
                                    [results]="listPaymentMode"
                                    [gradient]="true"
                                    [legend]="true"
                                    [legendPosition]="'below'"
                                    [labels]="showLabels"
                                    [doughnut]="false"
                                    [legendTitle]="'Payment Modes'">
                                  </ngx-charts-pie-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 mb-4">
                        <div widget class="card box-shadow mb-4 pb-4">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">Payment Mode Location Wise <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pb-4 mb-4">
                                <div class="w-100 h-300p pb-4 mb-4">
                                    <ngx-charts-bar-vertical-2d
                                    [scheme]="'picnic'"
                                    [results]="listPaymentModeCombine"
                                    [gradient]="gradient"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [legend]="showLegend"
                                    [legendTitle]="'Payment Modes'"
                                    [legendPosition]="'below'">
                                  </ngx-charts-bar-vertical-2d>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">Category Wise Sales <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body">
                                <div class="w-100 h-300p">
                            <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="categoryWiseData"
                            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="true" [yAxisLabel]="true" [showDataLabel]="showDataLabel"
                            (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 text-muted">
                                <h6 class="mb-0">Yearly Sales <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pr-5">
                                <div class="w-100 h-300p">
                                    <ngx-charts-bar-horizontal [view]="view8" [animations]="true" [showGridLines]="true"
                                        [roundDomains]="true" [roundEdges]="true" [trimXAxisTicks]="true"
                                        [trimYAxisTicks]="true" [rotateXAxisTicks]="true" [noBarWhenZero]="true"
                                        [wrapTicks]="wrapTicks" [barPadding]="10" [scheme]="'picnic'"
                                        [results]="listYearDetails" [gradient]="false" [xAxis]="false" [yAxis]="true"
                                        [legend]="false" [showXAxisLabel]="showXAxisLabel"
                                        [showYAxisLabel]="showYAxisLabel" [showDataLabel]="showDataLabel"
                                        (select)="onSelectYear($event)">
                                    </ngx-charts-bar-horizontal>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 text-muted">
                                <h6 class="mb-0">Monthly Sales <span class="text-primary">({{locName}}-{{yearLable}})</span></h6>
                            </div>
                            <div class="card-body widget-body pr-5">
                                <div class="w-100 h-300p">
                                    <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="listMonthlyDetails"
                                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="true" [yAxisLabel]="true" [showDataLabel]="showDataLabel"
                                        (select)="onSelect($event)">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div widget class="card box-shadow p-0">
                            <div class="bg-light border-primary border-bottom">
                                <div class="row p-2">
                                    <div class="col border-right border-primary">
                                        <h6 class="modal-title text-dark">Location Wise Sales</h6>
                                    </div>
                                    <div class="col border-right border-danger">
                                        <h6 class="modal-title"><span class="text-info">From Date:</span> {{FromDate |
                                            date}}
                                        </h6>
                                    </div>
                                    <div class="col border-right border-warning">
                                        <h6 class="modal-title"><span class="text-info">To Date:</span> {{ToDate |
                                            date}} </h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="modal-title"><span class="text-info">Total Days:</span> <b>
                                                {{totalDays}}</b>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ngx-charts-advanced-pie-chart [animations]="true" [view]="view" [scheme]="'picnic'"
                                    [results]="listAllLocationDetails" [gradient]="gradient">
                                </ngx-charts-advanced-pie-chart>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr class="d-bg">
                                                <th class="text-center">Sr.</th>
                                                <th>Dates</th>
                                                <th>Day</th>
                                                <th class="text-right">Value</th>
                                                <th class="text-right">Discount Amount</th>
                                                <th class="text-right">Sale Tax</th>
                                                <th class="text-right">Total Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of reportListDateWise let i=index;">
                                                <td class="text-center">{{i+1}}</td>
                                                <td class="styl-new" data-toggle="modal" data-target="#saleDeailss"
                                                    (click)="getSaleWiseData(p)" title="View Invoice Detail">
                                                    {{p.dates | date }}
                                                </td>
                                                <td>{{p.dates | date:'EEEE' }}</td>
                                                <td class="text-right">{{p.Value | number}}</td>
                                                <td class="text-right">{{p.DisAmount | number}}</td>
                                                <td class="text-right">{{p.StAmt | number}}</td>
                                                <td class="text-right">{{p.TotSale | number}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tws">
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-xl-12 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">HOURLY REPORT <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pr-5">
                                <div class="w-100 h-300p">
                                    <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="hourlyResponse"
                                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="true" [yAxisLabel]="true" [showDataLabel]="showDataLabel">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr class="d-bg">
                                                <th class="text-center">Sr.</th>
                                                <th>Time Slot</th>
                                                <th class="text-right">Sale Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of listAllData let ndx=index;">
                                                <td class="text-center">{{ndx+1}}</td>
                                                <td>{{p.name}}</td>
                                                <td class="text-right">{{p.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="nop">
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-xl-12 mb-4">
                        <div widget class="card box-shadow">
                            <div class="transparent p-3 border-0 bg-white text-muted">
                                <h6 class="mb-0">HOURLY REPORT <span class="text-primary">({{locName}})</span></h6>
                            </div>
                            <div class="card-body widget-body pr-5">
                                <div class="w-100 h-300p">
                                    <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="hourlyResponseNOP"
                                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="true" [yAxisLabel]="true" [showDataLabel]="showDataLabel">
                                    </ngx-charts-bar-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr class="d-bg">
                                                <th class="text-center">Sr.</th>
                                                <th>Time Slot</th>
                                                <th>No. of Persons</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of hourlylistAllData let ndx=index;">
                                                <td class="text-center">{{ndx+1}}</td>
                                                <td>{{p.name}}</td>
                                                <td>{{p.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<ng-template #locationDetails let-modal>
    <div class="modal-header modal_head">
        <h5 class="modal-title">Detail</h5>
        <button type="button" class="close cross" aria-label="Close" (click)="modal.dismiss('Cross click')"
            style="outline:none">
            <span aria-hidden="true" class="whitee">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <!-- <div class="text-right">
            <button class="btn-dark p-2" [useExistingCss]="true" printSectionId="printInvoiceDetail" ngxPrint><i
                    class="fa fa-print mr-1"></i> Print</button>
        </div> -->
        <div class="table-responsive" id="printInvoiceDetail">
            <table class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr class="d-bg">
                        <th>Sr.</th>
                        <th>Location</th>
                        <th class="text-right">Rate</th>
                        <th class="text-right">Discount</th>
                        <th class="text-right">Total Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of invoiceDetailResponse let ndx = index">
                        <td>{{ ndx + 1 }}</td>
                        <td class="styl-new" (click)="getSalesDetails(p)" data-toggle="modal"
                            data-target="#dailyDetails">{{p.locationName}}</td>
                        <td style="text-align:right">{{p.tr_rate | number}}</td>
                        <td style="text-align:right">{{p.DisAmount | number}}</td>
                        <td style="text-align:right">{{p.TotSale | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>






<div class="modal fade" id="saleDeailss" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sales Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="printInvoiceDetail">
                    <table class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr class="d-bg">
                                <th>Sr.</th>
                                <th>Location</th>
                                <th class="text-right">Rate</th>
                                <th class="text-right">Discount</th>
                                <th class="text-right">Total Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of locationDetailList let ndx = index">
                                <td>{{ ndx + 1 }}</td>
                                <td class="styl-new" (click)="getSalesDetails(p)" data-toggle="modal"
                                    data-target="#dailyDetails">{{p.locationName}}</td>
                                <td style="text-align:right">{{p.tr_rate | number}}</td>
                                <td style="text-align:right">{{p.DisAmount | number}}</td>
                                <td style="text-align:right">{{p.TotSale | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dailyDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped dt-responsive table-bordered" width="100%">
                        <thead>
                            <tr class="d-bg">
                                <th class="text-center">Sr.</th>
                                <th class="text-center">Invoice Number</th>
                                <th class="text-center">No. of Persons</th>
                                <th class="text-right">Value</th>
                                <th class="text-right">Discount Amount</th>
                                <th class="text-right">Sale Tax</th>
                                <th class="text-right">Total Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of monthlyReportList let i=index;">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center styl-new" data-toggle="modal" data-target="#invoiceDetails"
                                    (click)="getInvoiceDetail(p)" title="View Invoice Detail">{{p.invoiceno }}
                                </td>
                                <td class="text-center">{{p.Persons}}</td>
                                <td class="text-right">{{p.Value | number}}</td>
                                <td class="text-right">{{p.DisAmount | number}}</td>
                                <td class="text-right">{{p.StAmt | number}}</td>
                                <td class="text-right">{{p.TotSale | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invoiceDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invoice Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="text-right">
                    <button class="btn-dark p-2" [useExistingCss]="true" printSectionId="printInvoiceDetail" ngxPrint><i
                        class="fa fa-print mr-1"></i> Print</button>
                </div> -->
                <div class="table-responsive" id="printInvoiceDetail">
                    <table class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr class="d-bg">
                                <th colspan="4">Invoice Number : {{invoiceNumber}} </th>
                            </tr>
                            <tr class="d-bg">
                                <th>Sr.</th>
                                <th>Item</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Rate</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Discount</th>
                                <th class="text-right">Tax %</th>
                                <th class="text-right">Tax Amt</th>
                                <th class="text-right">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of invoiceDetailResponse let ndx = index">
                                <td>{{ ndx + 1 }}</td>
                                <td>{{p.Pname}}</td>
                                <td style="text-align:right">{{p.qty}}</td>
                                <td style="text-align:right">{{p.sellprice | number}}</td>
                                <td style="text-align:right">{{p.qty * p.sellprice}}</td>
                                <td style="text-align:right">{{p.DisAmt | number}}</td>
                                <td style="text-align:right">{{p.stax | number}}</td>
                                <td style="text-align:right">{{p.StAmt | number}}</td>
                                <td style="text-align:right">{{p.qty * p.sellprice + p.StAmt}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="d-bg">
                                <th></th>
                                <th>Total</th>
                                <th style="text-align:right">{{Quantity}}</th>
                                <th></th>
                                <th style="text-align:right">{{Amount | number}}</th>
                                <th></th>
                                <th></th>
                                <th style="text-align:right">{{taxAmt | number}}</th>
                                <th style="text-align:right">{{TotalAmt | number}}</th>
                            </tr>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="3" class="d-bg text-right">Discout on Invoice</th>
                                <th colspan="" class="d-bg text-right">{{disAmount | number}}</th>
                            </tr>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="3" class="d-bg text-right">Net Amount</th>
                                <th colspan="" class="d-bg text-right">{{netAmount | number}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>