<div class="container-fluid p-0">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-hover table-striped dt-responsive table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Sr.</th>
                            <th>User name</th>
                            <th>Designation</th>
                            <th>Is Active</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of getEmployeeList let i=index;">
                            <td class="text-center">{{i+1}}</td>
                            <td>{{p.EmployeeName}}</td>
                            <td>{{p.DesignationTitle}}</td>
                            <td>
                                <span *ngIf="p.isActive == true" style="color: green; font-weight:bold">Active</span>
                                <span *ngIf="p.isActive == false" style="color: red; font-weight:bold">In Active</span>
                            </td>
                            <td class="text-center">
                                <i (click)="editEmployee(addUsers,p)" data-toggle="tooltip" data-placement="bottom"
                                    title="Edit Record" tabindex="0" class="fa fa-pencil fa_edit"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!--Add Button-->
<button class="bttn ng-star-inserted" (click)="openAddModal(addUsers)" tabindex="0"><i class="fa fa-plus"
        style="margin-left:1px"></i></button>




<!--Add Users Pop up -->
<ng-template #addUsers let-modal>
    <div class="modal-header modal_head">
        <h5 class="modal-title" *ngIf="!onEditShowHide">Add Users</h5>
        <h5 class="modal-title" *ngIf="onEditShowHide">Update Users</h5>
        <button type="button" class="close cross" aria-label="Close" (click)="modal.dismiss('Cross click')"
            style="outline:none">
            <span aria-hidden="true" class="whitee">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form [formGroup]="usersForm" role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Login name</label><span class="imp">*</span>
                        <input type="text" placeholder="Enter login name..." formControlName="loginName"
                            class="form-control validation-field">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.loginName.touched && usersForm.controls.loginName.hasError('required')">Required</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User name</label><span class="imp">*</span>
                        <input type="text" placeholder="Enter username..." formControlName="EmployeeName"
                            class="form-control validation-field">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.EmployeeName.touched && usersForm.controls.EmployeeName.hasError('required')">Required</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label><span class="imp">*</span>
                        <input type="password" placeholder="Enter password..." formControlName="empPassword"
                            class="form-control validation-field">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.empPassword.touched && usersForm.controls.empPassword.hasError('required')">Required</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact No.</label><span class="imp">*</span>
                        <input type="text" placeholder="0000-0000000" formControlName="contactNo"
                            class="form-control validation-field" [mask]="mobMask">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.contactNo.touched && usersForm.controls.contactNo.hasError('required')">Required</small>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label>Retype Password</label><span class="imp">*</span>
                        <input type="password" placeholder="Enter Retype Password..."
                            formControlName="retypePass" class="form-control validation-field">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.retypePass.touched && usersForm.controls.retypePass.hasError('required')">Required</small>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label><span class="imp">*</span>
                        <select formControlName="Gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Designation Title</label><span class="imp">*</span>
                        <input type="text" placeholder="Enter DesignationTitle..." formControlName="DesignationTitle"
                            class="form-control validation-field">
                        <small class="text-danger"
                            *ngIf="usersForm.controls.DesignationTitle.touched && usersForm.controls.DesignationTitle.hasError('required')">Required</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Assign Group</label><span class="imp">*</span>
                        <select formControlName="locationID" class="form-control" (change)="onChangeGroup($event.target.value)">
                            <option *ngFor="let p of listAllGroups" [value]="p.groupid">{{p.groupName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Default Locations</label><span class="imp">*</span>
                        <select formControlName="locationID" class="form-control" (change)="onChangeLoc($event.target.value)">
                            <option *ngFor="let p of getLocationsList" [value]="p.locationID">{{p.locationName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Assign Locations</label><span class="imp">*</span>
                        <ng-multiselect-dropdown [placeholder]="'Select Stations'" [data]="getLocationsList"
                        style="width: 90%;" [(ngModel)]="selectedLocations" [settings]="dropdownSettings"
                        (onSelect)="onItemSelectStations($event)" (onSelectAll)="onSelectAllStations($event)"
                        (onDeSelect)="onItemDeSelectStations($event)"
                        (onDeSelectAll)="onItemDeSelectAllStations($event)"
                        [ngModelOptions]="{standalone: true}">
                    </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check mt-4 pt-2">
                        <input class="form-check-input" type="checkbox" formControlName="isActive" value=""
                            id="flexCheckDefault">
                        <label class="form-check-label ml-2" for="flexCheckDefault">
                            Is Active?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-8">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea rows="2" formControlName="Address" class="form-control validation-field"></textarea>
                    </div>
                </div> -->
        
            </div>
        </form>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-sm btn-success pl-3 pr-3 mr-2" [disabled]="!usersForm.valid" *ngIf="!onEditShowHide"
            (click)="saveEmployee()">Save</button>
        <button class="btn btn-sm btn-success mr-2" [disabled]="!usersForm.valid" *ngIf="onEditShowHide"
            (click)="saveEmployee()">Update</button>
        <button class="btn btn-sm btn-dark" (click)="modal.close('Close click')">
            Cancel
        </button>
    </div>
</ng-template>

<!--Assign Location Pop up -->
<ng-template #assignLoc let-modal>
    <div class="modal-header modal_head">
        <h5 class="modal-title">Assign Locations</h5>
        <button type="button" class="close cross" aria-label="Close" (click)="modal.dismiss('Cross click')"
            style="outline:none">
            <span aria-hidden="true" class="whitee">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Locations</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Locations'" [data]="getLocationsList"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedLocations"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="ondeSelect($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-sm btn-success pl-3 pr-3 mr-2" (click)="assignLocation()">Assign</button>
        <button class="btn btn-sm btn-dark" (click)="modal.close('Close click')">
            Cancel
        </button>
    </div>
</ng-template>