<div class="card">
    <form [formGroup]="searchForm" role="form">
        <div class="p-2 bg-light">
            <div class="row">
                <div class="col-3">
                    <select id="defaultOptions" class="form-control"
                        (change)="setDefaultDateRange($event.target.value)">
                        <!-- <option [selected]="true" value="">Select Date</option> -->
                        <option [selected]="true" value="today">Today</option>
                        <option value="last7Days">Last 7 Days</option>
                        <option value="last30Days">Last 30 Days</option>
                        <option value="thisMonth">This Month</option>
                        <option value="lastMonth">Last Month</option>
                        <option value="custom">Select Custom Dates</option>
                    </select>
                </div>
                <div class="col-9 text-right">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-dark active" (click)="onClickLocation(0, 'All')" style="width: 100px;">
                            <input type="radio" name="options" id="option4" autocomplete="off" checked> All
                        </label>
                        <label *ngFor="let p of getLocationsList"
                            (click)="onClickLocation(p.locationID, p.locationName)" class="btn btn-dark"
                            style="width: 100px;">
                            <input type="radio" name="options" id="option5" autocomplete="off"> {{p.locationName}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="hideShow">
                <div class="col-3">
                    <div class="form-group">
                        <label>Date From</label><span class="imp">*</span>
                        <input type="date" class="form-control" formControlName="mFromDate">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Date To</label><span class="imp">*</span>
                        <input type="date" class="form-control" formControlName="mToDate">
                    </div>
                </div>
                <div class="col-2 mt-4">
                    <button class="btn btn-success mr-2" (click)="setDefaultDateRange('custom')"><i
                            class="fa fa-spinner"></i>
                        Load Data</button>
                </div>
            </div>
        </div>
    </form>
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-xl-12 mb-4">
                <div widget class="card border-secondary box-shadow">
                    <div class="transparent p-3 border-0 bg-white text-muted">
                        <h6 class="mb-0">HOURLY REPORT <span class="text-primary">({{locName}})</span></h6>
                    </div>
                    <div class="card-body widget-body pr-5">
                        <div class="w-100 h-300p">
                            <ngx-charts-bar-vertical [scheme]="'picnic'" [results]="hourlyResponse"
                                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false"
                                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="true"
                                [yAxisLabel]="true" [showDataLabel]="showDataLabel">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover table-striped table-bordered" width="100%">
                                <thead>
                                    <tr class="d-bg">
                                        <th class="text-center">Sr.</th>
                                        <th>Time Slot</th>
                                        <th class="text-right">Sale Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of listAllData let ndx=index;">
                                        <td class="text-center">{{ndx+1}}</td>
                                        <td>{{p.name}}</td>
                                        <td class="text-right">{{p.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>