:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    max-width: 275px !important;
}

:host ::ng-deep .buttons-copy {
    background-color: #008CBA !important;
    color: #ffffff;
}

:host ::ng-deep .buttons-csv {
    background-color: #f44336 !important;
    color: #ffffff;
}

:host ::ng-deep .buttons-excel {
    background-color: #555555 !important;
    color: #ffffff;
}

:host ::ng-deep .buttons-print {
    background-color: #FF8C00 !important;
    color: #ffffff;
}

:host ::ng-deep .dataTables_info {
    color: #1E90FF;
}

:host ::ng-deep .dataTables_paginate,
.paging_full_numbers {
    color: #1E90FF;
}

:host ::ng-deep .dataTables_length {
    margin-left: 35px;
    color: #1E90FF;
}

.styl-new {
    cursor: pointer;
}

.styl-new:hover {
    background-color: #c75336;
    color: #ffffff;
}

.d-bg {
    background-color: #c75336;
    color: #fff;
}

.fa-arrow-circle-o-down {
    font-size: 20px;
    cursor: pointer;
}

.btn-dark {
    box-shadow: none !important;
    outline: none !important;
    border: 0px !important;
}

.active {
    background-color: green !important;
    color: #fff;
    border: 0px !important;
}